.fetch-posts-container {
    padding: 20px;
  }
  
  .spinner {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #909090;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #5e5e5e;
  }
  